//
// Copy and remove .dist extension. Then adjust defines as required
//

#ifndef PIOT_2023_DRINK_DISPENSER_ARDUINO_SECRETS_H
#define PIOT_2023_DRINK_DISPENSER_ARDUINO_SECRETS_H

#define SECRET_SSID ""
#define SECRET_PASS ""
//#define SERVER_IP 1, 1, 1, 1
#define SERVER_IP "2a02:908:1475:8b20::503a"
#define SERVER_PORT 8081

//#define fakeWIFI
//#define fakeNFC

#endif //PIOT_2023_DRINK_DISPENSER_ARDUINO_SECRETS_H
